<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
			name="connectionSection"
			type="Mineware.Systems.WindowsServices.Configuration.ImportConnectionSection, Mineware.Systems.WindowsServices"
			allowLocation="true"
			allowDefinition="Everywhere"
		/>
		<section name="services" type="Mineware.Systems.WindowsServices.Configuration.ServiceConfigSection, Mineware.Systems.WindowsServices"/>
	</configSections>
	<appSettings>
		<add key="Mineware.Systems.ImportUtility.SleepDuration" value="10000"/>
		<add key="Mineware.Systems.ImportUtility.ConsMART.Connection" value="server=HGMTSCON001;user id=mineware;password=Systems@User!;initial catalog=ConsMART"/>
		<add key="Mineware.Systems.ImportUtility.HourToRunImport" value="19"/>
		<add key="Mineware.Systems.ImportUtility.MinuteToRunImport" value="24"/>

		<add key="Mineware.Systems.WorkplaceImportPlugin.ConsMART.Connection" value="server=HGMTSCON001;user id=mineware;password=Systems@User!;initial catalog=ConsMART"/>
		<add key="Mineware.Systems.WorkplaceImportPlugin.HourToRunImport" value="11"/>
		<add key="Mineware.Systems.WorkplaceImportPlugin.MinuteToRunImport" value="1"/>

		<add key="Mineware.Systems.XyzImportPlugin.HourToRunImport" value="21"/>
		<add key="Mineware.Systems.XyzImportPlugin.MinuteToRunImport" value="23"/>
		<add key="Mineware.Systems.XyzImportPlugin.CsvPath" value="\\HGMTSYNC001\DnkXyzLogs"/>
		<add key="Mineware.Systems.XyzImportPlugin.GmsiDatabaseServer" value="HGMTSP001"/>
		<add key="Mineware.Systems.XyzImportPlugin.GmsiDatabase" value="MRM_DNK"/>
		<add key="Mineware.Systems.XyzImportPlugin.GmsiDatabaseUserId" value="jlkhtdoh"/>
		<add key="Mineware.Systems.XyzImportPlugin.GmsiDatabasePassword" value="@rol^o^qrv=pfqb35"/>
		<add key="Mineware.Systems.XyzImportPlugin.DestinationDatabaseServer" value="HGMTSYNC001"/>
		<add key="Mineware.Systems.XyzImportPlugin.DestinationDatabase" value="PAS_DNK_Syncromine"/>
		<add key="Mineware.Systems.XyzImportPlugin.DestinationDatabaseUserId" value="jlkhtdoh"/>
		<add key="Mineware.Systems.XyzImportPlugin.DestinationDatabasePassword" value="`rol^o^qrv"/>
		<add key="Mineware.Systems.XyzImportPlugin.DestinationDatabaseLog" value="PAS_DNK_Syncromine_log"/>

		<add key="Mineware.Systems.WorkplaceStripPlugin.HourToRunImport" value="22"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.MinuteToRunImport" value="03"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.WorkplaceFilePath" value="\\HGMTSYNC001\DnkWorkplaceFile"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.GmsiDatabaseServer" value="HGMTSP001"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.GmsiDatabase" value="MRM_DNK"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.GmsiDatabaseUserId" value="jlkhtdoh"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.GmsiDatabasePassword" value="@rol^o^qrv=pfqb35"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.DestinationDatabaseServer" value="HGMTSYNC001"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.DestinationDatabase" value="PAS_DNK_Syncromine"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.DestinationDatabaseUserId" value="jlkhtdoh"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.DestinationDatabasePassword" value="`rol^o^qrv"/>
		<add key="Mineware.Systems.WorkplaceStripPlugin.DestinationDatabaseLog" value="PAS_DNK_Syncromine_log"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<!-- Configuration section settings area. -->
	<connectionSection>
		<connections>
			<connection operation="PAS_DNK" connectionString="server=.\SQLEXPRESS;user id=mineware;password=corialanus;initial catalog=PAS_DNK_Syncromine"/>
		</connections>
	</connectionSection>
	<services>
		<services>
			<add name="Mineware.Systems.ImportPlugin" serviceType="Mineware.Systems.WindowsServices.ImportPlugin.Plugin, Mineware.Systems.WindowsServices.ImportPlugin"/>
			<add name="Mineware.Systems.XyzCoordinatesPlugin" serviceType="Mineware.Systems.WindowsServices.XyzCoordinatesPlugin.Plugin, Mineware.Systems.WindowsServices.XyzCoordinatesPlugin"/>
			<add name="Mineware.Systems.WorkplaceStripperPlugin" serviceType="Mineware.Systems.WindowsServices.WorkplaceStripperPlugin.Plugin, Mineware.Systems.WindowsServices.WorkplaceStripperPlugin"/>
			<add name="Mineware.Systems.WorkplaceImportPlugin" serviceType="Mineware.Systems.WindowsServices.WorkplaceImportPlugin.Plugin, Mineware.Systems.WindowsServices.WorkplaceImportPlugin"/>
		</services>
	</services>
</configuration>