CREATE DATABASE [ConsMART]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConsMART', FILENAME = N'D:\Systems\Databases\ConsMART.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ConsMART_log', FILENAME = N'D:\Systems\Databases\ConsMART_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [ConsMART]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ConsMART] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
